venv/
.venv/
env/
.env
.vscode/

__pycache__/
*.pyc

*.pth
*.pt
best_model_extract_optimized.pth
citrus_efficientnetv2l_pytorch_final_checkpointed_optimized.pth

logs/
training_results_optimized.png
confusion_matrix_optimized.png

.ipynb_checkpoints









.\venv\Scripts\activate